body {
    text-align: center;
    font-family: Georgia, "Times New Roman", serif, sans-serif,
    "Microsoft YaHei",  STXihei, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto;
}

#header {
    background-color: #675c47;
    margin: 10px 10px 0px 10px;
    height: 90px;
}

nav {
    background-color: #efe5d0;
    margin: 10px 10px 0px 10px;
}

nav ul {
    margin: 0px;
    list-style-type: none;
    padding: 5px 0px 5px 0px;
}

nav ul li {
    display: inline;
    padding: 5px 10px 5px 10px;
}

#main {
    background: #efe5d0;
    padding: 15px;
}

#leftSide {
    text-align: left;
    background: #efe5d0;
    padding: 15px;
    margin: 0px 10px 10px 10px;
    float: left;
    width: 150px;
}

#footer {
    background-color: #675c47;
    color: #efe5d0;
    text-align: center;
    padding: 5px;
    margin: 1px;
}
.mainreading {
    border-color: black;
    background-image: url(Reading/002_reading.jpeg);
    background-repeat: no-repeat;
    padding: 75px; background-position: center;
    background-color: beige;
    font-size: 200%;
    color: yellowgreen;
}

#allcontent {
    width: 800px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #675c47;
    margin-left: auto;
    margin-right: auto;
}